
body{
    background: linear-gradient(135deg, #1A472A, #000000);
}

h1{
    display: flex;
      justify-content: center; /* centraliza na horizontal */
      align-items: center; /* centraliza na vertical */
      height: 8vh; /* altura total da tela */
      margin: auto;
      width:200px;
      color:white;}
      p{color:white;
        font-family:Verdana;
    }
      