@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
  background: linear-gradient(135deg, #1A472A, #000000);

}
  
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
  margin: auto;
  background-image:url(imagens/background_10.png);
  background-repeat: no repeat;
  background-position: center;
}

.quadro-fases {
    justify-content: center;  
    width: 50vw;
    height: auto; 
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }

.quiz{
    background-color: red;
    text-align: center;
    text-justify: center;
    justify-content: center;
    width: 15vw;
    height: auto;
    margin: auto;
}

.app {
  background: rgb(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 50px;
}

.app h1 { 
  font-weight: 25px;
  color:rgb(255, 255, 255) ;
  font-weight: 800;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  top: 200px;
}

h1{
  color:rgb(255, 255, 255);
  display:flex;
  align-items: center;
  justify-content: center;
  height: 80px;
 
}

.quiz h2 {
  color:rgb(22, 22, 22);
  font-size: 18px;
  font-weight: 900;
  right: 300px;
  margin: 10px;
}

.btn {
  display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
  text-align: center;
  text-justify: center;
  background:#ffffff  ;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}


.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}

/* Formatação ao diminuir a tela para uso mobile*/
@media only screen and (min-width: 300px) and (max-width: 1000px){



}