@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Adrip';
    src: url(fontes/adrip.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geo';
    src: url(fontes/Geometos.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geom';
    src: url(fontes/Gemstone.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Sansation';
    src: url(fontes/sansation.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Gameplay';
    src: url(fontes/Gameplay.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Kbr';
    src: url(fontes/kbr.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Darling';
    src: url(fontes/darling.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Kathen';
    src: url(fontes/Kathen.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Bebas';
    src: url(fontes/bebas.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Utendo';
    src: url(fontes/utendo.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}


body{
  background: linear-gradient(135deg, #000000, #000000);

}
  
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
  margin: auto;
  background-image:url(imagens/background_10.png);
  background-repeat: no repeat;
  background-position: center;
}

.quadro-fases {
    justify-content: center;  
    width: 50vw;
    height: auto; 
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 10px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    padding: 10px;
  }

.quiz{
    width: 100vw;
    text-align: center;
    text-justify: center;
    justify-content: center;
    width: 15vw;
    height: auto;
    margin: auto;
}

.app {
  background: rgb(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 50px;
}

.quiz {
width: 70%;
height: auto;
padding: 10px;

}

.quiz h2 {
  font-family: Utendo;
  justify-content: center;
  text-align: center;
  color:rgb(0, 0, 0);
  font-size: 25px;
  padding: 10px;
}

.btn {
  font-family: Utendo;
  font-size: 15pt;
  display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
  text-align: center;
  text-justify: center;
  background:#ffffff  ;
  color: #222;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}


.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 2px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}

/* Formatação ao diminuir a tela para uso mobile*/
@media only screen and (min-width: 300px) and (max-width: 1000px){

    .quadro-fases { 
    width: 90vw;
    height: auto;
    padding: 10px;
  }

      .quiz {
    width: 80%;
    height: auto;

    }

}