
@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Adrip';
    src: url(fontes/adrip.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geo';
    src: url(fontes/Geometos.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geom';
    src: url(fontes/Gemstone.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Sansation';
    src: url(fontes/sansation.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Gameplay';
    src: url(fontes/Gameplay.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Kbr';
    src: url(fontes/kbr.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Darling';
    src: url(fontes/darling.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Kathen';
    src: url(fontes/Kathen.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Bebas';
    src: url(fontes/bebas.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Utendo';
    src: url(fontes/utendo.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Kbr';
    src: url(fontes/kbr.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Darling';
    src: url(fontes/darling.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

body{
      background-color: #000000;
}


/* Formatação do container principal */
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	background-color: white;
    margin: auto;
    background-image: url(imagens/background_8.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.info{
    width: 90%;
    height: auto;
    background-color: white;
    opacity: 0.7;
    margin: auto;
    padding: 10px;

}

.info h1{
    font-family: Darling;
    font-size: 50pt;
    justify-content: center; /* centraliza na horizontal */
    align-items: center; /* centraliza na vertical */
    margin: auto;
    color:rgb(0, 0, 0);
}
    
.info p{
    font-family: Sansation;
    font-size: 14pt;
    text-align: justify;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;
    color:rgb(0, 0, 0);
    font-family:Verdana;
    margin: auto;
    padding: 10px;
}
      
/* Formatação ao diminuir a tela para uso mobile*/
@media only screen and (min-width: 300px) and (max-width: 1000px){

    .info h1{
        font-size: 20pt;
    }
    .info p{
        font-size: 10pt;
        padding: 5px;
    }
}