@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
      background-color: #ffffff;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Adrip';
    src: url(fontes/adrip.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geo';
    src: url(fontes/Geometos.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geom';
    src: url(fontes/Gemstone.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Sansation';
    src: url(fontes/sansation.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Gameplay';
    src: url(fontes/Gameplay.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Kbr';
    src: url(fontes/kbr.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Darling';
    src: url(fontes/darling.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Kathen';
    src: url(fontes/Kathen.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Bebas';
    src: url(fontes/bebas.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Utendo';
    src: url(fontes/utendo.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação do container principal */
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
    margin: auto;
    background-image: url(imagens/background_9.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h1{
    text-align: center;
    text-justify: center;
    font-family: Utendo;
	font-size: 20pt;
    font-weight: normal;
    letter-spacing: 5px;
	padding: 20px;
	color:rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px; /* Largura da borda */
    -webkit-text-stroke-color: rgb(0, 0, 0); /* Cor da borda */
    animation: flipInX;
    animation-duration: 3s;
    margin: auto;
    background-color: white;
    opacity: 0.7;
}

.container img{
  width: 15vw;
  height: auto;
  cursor: pointer;
  animation: rubberBand;
  animation-duration: 3s;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.container img:hover{
 	-moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

/* Formatação ao diminuir a tela para uso mobile*/
@media only screen and (min-width: 300px) and (max-width: 1000px){

    h1{

        font-size: 10pt;

}

.container img{
  width: 40vw;
}

}