@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
      background-color: #1A471A;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Adrip';
    src: url(fontes/adrip.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geo';
    src: url(fontes/Geometos.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geom';
    src: url(fontes/Gemstone.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Sansation';
    src: url(fontes/sansation.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Gameplay';
    src: url(fontes/Gameplay.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}


/* Formatação do container principal */
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
  margin: auto;
  background-image: url(imagens/background_1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h1{
    font-family: Gameplay;
	  font-size: 50pt;
    font-weight: normal;
    letter-spacing: 5px;
	  padding: 10px;
	  color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px; /* Largura da borda */
    -webkit-text-stroke-color: rgb(0, 0, 0); /* Cor da borda */
    animation: fadeInUp;
    animation-duration: 3s;
    margin: 0;
}

.container img{
  width: 15vw;
  height: auto;
  cursor: pointer;
  animation: shakeY;
  animation-duration: 3s;
  margin: 15px;
}

.container img:hover{
 	-moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

