@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
      background-color: #000000;
}


/* Formatação para fonte */
@font-face {
    font-family: 'Adrip';
    src: url(fontes/adrip.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geo';
    src: url(fontes/Geometos.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geom';
    src: url(fontes/Gemstone.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Sansation';
    src: url(fontes/sansation.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Gameplay';
    src: url(fontes/Gameplay.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Kbr';
    src: url(fontes/kbr.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Darling';
    src: url(fontes/darling.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Kathen';
    src: url(fontes/Kathen.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}


/* Formatação do container principal */
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	background-color: white;
      margin: auto;
      background-image: url(imagens/background_11.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.botoes{
      display: block;
      margin: auto;
      padding: 10px;
}

.botoes img{
      width: 50%;
      height: auto;
      margin: auto;
      filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
      animation: pulse;
      animation-duration: 3s;
}

.botoes button{ 
      display: flex;
      justify-content: center; /* centraliza na horizontal */
      align-items: center; /* centraliza na vertical */
      height: 8vh; /* altura total da tela */
      font-family: Gameplay;
	font-size: 15pt;
      font-weight: normal;
      margin: auto;
      letter-spacing: 2px;
      margin-top: 10px;
      width:200px;
      border-radius: 50px;
      background: linear-gradient(135deg,  #ecdd07, #e7c21e);
      border-color: white;
      color: white;
      animation: rubberBand;
      animation-duration: 3s;
}


.botoes button:hover { 
      cursor: pointer;
      background: linear-gradient(135deg, #0a1f96, #0f228f);
      transition: 0.5;
}

a {
      text-decoration: none;
}

/* Formatação ao diminuir a tela para uso mobile*/
@media only screen and (min-width: 300px) and (max-width: 1000px){

    .botoes img{
      width: 90%;
      height: auto;
      margin: auto;
      filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
      animation: pulse;
      animation-duration: 3s;
    }
}